.header-books-list {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.book-title,
.book-author,
.book-year {
  width: 30%;
}

.book-year {
  text-align: end;
}

.book-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}

.new-book-container {
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  width: 400px;
}
